@media (max-width: 900px) {
  tr {
    width: 80vw;
  }

  td {
    height: 11.428vw;
  }

  div.event-menu {
    transition: height .2s ease-in-out;
}

  .event-menu.menu-expanded {   
      background: #ffffff;  
      height: 100%;
      width: 100%;
  }

  .event-menu {
      top: 120%;
      height: 0;
      width: 100%;
      z-index: 1;
      background: #ffffff; 
      border-radius: 20px;
      border: 2px outset #386fc2;
  }

  .event-menu-wrapper {
      margin-top: 20px;
  }

  .event-menu hr {
      width: 80%;
      margin: 10px auto;
  }

  .events-container {
      margin: 0 auto;
      width: 80%;
      height: 100%;
      overflow-y: scroll
  }

  .events-container::-webkit-scrollbar {
      display: none;
  }
}