* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

body::-webkit-scrollbar {
    display: none
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    width: 80%;
    height: 50%;
    border-bottom: 2px solid #386fc2;
    font-size: 3.2vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

.menu-item:hover {
    color: #3e9eecd3;
    user-select: none;
}

/* calendar */
#cal_main {
    position: relative
}

.calendar-wrapper table {
    margin: auto;
    border-collapse: collapse;
}

th {
    padding: 7px 5px;
    font-weight: 300;
    text-align: center;
    color: #386fc2;
    align-items: center;
}

td {
    height: 7.142vw;
    color: #8D8173;
    text-align: right;
}

td:hover {
    background: #5975bd;
    color: #F0F0F0
}

td.today:hover {
    background: #445a92;
}

th, td {
    transition: background 0.15s ease-in, color 0.15s ease-out;
    user-select: none;
    font-size: 3.2vmin;
}

tr {
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(7, 1fr);
}

td.today {
    border: 1px outset #5975bd;
}

th.active {
    background:#2c4991;
    color: #EFDDDB
}

.hidden {
    display: none
}

/* sections */
section {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

/* events */
.event-holder {
    width: 80%;
    height: 200px;
    margin: 2px auto 10px auto;
    border-right: 2px solid #fff0f0 transparent
} 

.event-title {
    display: flex;
    justify-content: space-between;
}

.event-holder:hover {
    border-right: 2px outset #4d4d4d;
    border-bottom: 3px inset #4d4d4d;
    padding: 2px;
}

/* event menu */
div.event-menu {
    transition: width .2s ease-out;
}

.event-menu.menu-expanded {     
    background-image: url('../dot.svg'), url('../dot.svg');
    background-position: right 25%, right 75%;
    background-repeat: no-repeat, no-repeat;
    background-size: 5%, 5%;
    width: 30%;
}

.event-menu {
    overflow: hidden;
    position: absolute;
    right: 0;
    height: 90%;
    width: 0%;
    z-index: 1;
    background: #ffffff; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 2px outset #386fc2;
    border-left: 2px outset #386fc2;
    border-bottom: 2px outset #386fc2;
}

.event-menu-wrapper {
    margin-top: 20px;
}

.event-menu h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vmax;
    user-select: none;
}

.event-menu hr {
    width: 80%;
    margin: 10px auto;
}

.events-container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    overflow-y: scroll
}

.events-container::-webkit-scrollbar {
    display: none;
}