* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: #456A8F;
  user-select: none;
}

.menu-section {
  color: #e5e6f5;
  text-decoration: none;
  padding: 10px 20px;
  flex-shrink: 0;
  position: relative;
}

.logo-wrapper {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center
}

.logo {
  width: 100px;
  height: 100px
}

.menu-section:hover {
  background: #456A8F;
}

.menu-section-current>.menu-underline {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  animation: underlineActive .2s normal ease-in-out;
  height: 1px;
  background-color: #e5e6f5;
}

.menu-section-current {
  background-color: #456A8F;
  box-shadow: 0 5px 0 #456A8F;
}

.logo {
  animation: spin 1s ease-in-out infinite
}

.header {
  width: 100%;
  height: 35px;
  background: #163759;
  display: flex;
  align-items: center;
}

.nav-bar {
  font-size: 14px;
  width: 30%;
  display: flex;
}

.main-section-wrapper {
  margin: 15px auto;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.section {
  flex-shrink: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform .5s ease-in-out, opacity .8s ease;
}

.calendar-view {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.home-view,
.events-view,
.settings-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar-wrapper {
  position: relative;
  margin-left: 20px;
  height: 100%;
  background: #e5e6f5;
}

.calendar-wrapper::-webkit-scrollbar {
  display: none
}

.calendar-wrapper table {
  width: 100%;
  height: 60%;
  border-collapse: collapse;
}

.calendar-wrapper table td,
.calendar-wrapper table th {
  text-align: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.calendar-wrapper table .cell-day {
  border: 1px inset grey;
}

.calendar-wrapper table td span:hover {
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 1px 1px 0 #5f5f5f
}

.calendar-wrapper table span {
  padding: 5px;
  display: block;
  height: 50%;
  width: 100%;
  text-align: right;
}

.calendar-wrapper table .event-map-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.calendar-wrapper table thead {
  background: #163759;
  color: #e5e6f5
}

.home-wrapper h1,
.home-wrapper span {
  color: #e5e6f5;
  font-weight: bold;
}

.event-sidewrapper {
  margin-right: 20px;
  width: 60%;
  height: 100%;
  background: #e5e6f5;
}

.event-sidewrapper .side-header {
  height: 5vmax;
  width: 100%;
  background: #163759;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e5e6f5;
}

.event-sidewrapper .event-sidewrapper-controls {
  width: 100%;
  height: 25px;
  background: #163759;
  color: #e5e6f5;
}

.event-sidewrapper .event-sidewrapper-controls .block-button {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center
}

.event-sidewrapper .event-sidewrapper-controls .block-button:hover {
  background: #e5e6f5;
  color: #163759
}

.event-sidewrapper .event-sidewrapper-controls .block-button:hover::after {
  height: 25px;
  width: 500%;
  position: absolute;
  font-size: 0.7rem;
  content: "Редактировать события";
  left: 100%;
  background: #e5e6f5;
  color: #163759
}

.event-sidewrapper .event-card {
  width: 80%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  background: #e1e2f0;
  box-shadow: 1px 1px 1px #163759;
  animation: slide normal .5s ease-in-out;
  overflow: hidden;
}

.event-sidewrapper .event-title, .event-sidewrapper .event-responsible {
  flex-basis: 50%;
  text-align: center;
}

.event-sidewrapper .side-body {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 80%;
  justify-content: space-evenly;
  align-content: flex-start;
}

td.today {
  border: 2px inset grey;
  color: red;
}

.control-container {
  width: 100%;
  height: 50px;
  background: #163759;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-container div img,
.control-container .switchM-button {
  width: 25px;
  height: 25px;
}

.control-container div:hover img {
  transform: scale(2);
}

.control-container .month-display {
  color: #e5e6f5;
  font-size: 20px;
}

.control-container .month-display:hover {
  color: #a9ade0
}

.selecting-menu {
  animation: popUp .3s ease-in-out normal;
}

.selecting-menu ul {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  color: #e5e6f5;
  background: #163759;
  box-shadow: 3px 3px #0b1d2e;
}

.selecting-menu ul li {
  padding: 10px;
}

.selecting-menu li:hover {
  color: #a9ade0;
  text-shadow: 1px 1px #a9ade0;
}

.event-image {
  width: 15px;
}

@keyframes underlineActive {
  from {
    left: 50%;
    right: 50%;
    width: 0
  }
}

@keyframes slide {
  from {
    transform: translateX(-100%);
    opacity: 0;
  } to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes popUp {
  from {
    opacity: 0;
  }
}